welt/xml/calc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.pbit.org/calc" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.pbit.org/calc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.pbit.org/calc">
      <s:element name="Calc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="A" type="s:string"/>
	    <s:element minOccurs="0" maxOccurs="1" name="B" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Res" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalcMessage">
    <wsdl:part name="parameters" element="tns:Calc"/>
  </wsdl:message>
  <wsdl:message name="CalcResponseMessage">
    <wsdl:part name="parameters" element="tns:CalcResponse"/>
  </wsdl:message>
  <wsdl:portType name="CalcPort">
    <wsdl:operation name="Calc">
      <wsdl:input message="tns:CalcMessage"/>
      <wsdl:output message="tns:CalcResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalcBinding" type="tns:CalcPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Calc">
      <soap:operation soapAction="/Calc" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalcService">
    <wsdl:port name="CalcPort" binding="tns:CalcBinding">
      <soap:address location="http://localhost:8181/calc.yaws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
